<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="con" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Downloads\Shohana ado (3)\Shohana ado\AdioProjectSln - Copy\AdioProjectSln - Copy\AdioProjectSln - Copy\AdioProject\VehicleDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>